# PostgreSQL
POSTGRES_DB=barber_db
POSTGRES_USER=barber_user
POSTGRES_PASSWORD=barber_password

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@barber.com
PGADMIN_DEFAULT_PASSWORD=admin123

# Django
DEBUG=True
SECRET_KEY=dev-secret-key-change-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,backend
DB_ENGINE=django.db.backends.postgresql
DB_NAME=barber_db
DB_USER=barber_user
DB_PASSWORD=barber_password
DB_HOST=postgres
DB_PORT=5432

# Next.js
NEXT_PUBLIC_API_URL=http://localhost:8000/api
