# PostgreSQL
POSTGRES_DB=barber_db_hml
POSTGRES_USER=barber_user_hml
POSTGRES_PASSWORD=barber_password_hml

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@barber.com
PGADMIN_DEFAULT_PASSWORD=admin123

# Django
DEBUG=False
SECRET_KEY=change-this-secret-key-in-homologation
ALLOWED_HOSTS=localhost,backend,your-hml-domain.com
DB_ENGINE=django.db.backends.postgresql
DB_NAME=barber_db_hml
DB_USER=barber_user_hml
DB_PASSWORD=barber_password_hml
DB_HOST=postgres
DB_PORT=5432

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3001,https://your-hml-domain.com

# Next.js
NEXT_PUBLIC_API_URL=http://localhost:8001/api
